/* Fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 100;
}

:root {
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
    --background-black: #21303a;
    --text-white-opacity: #ffffff99;
    --button-primary-hover: #188ce8
    --container-padding: calc((100% - 1200px) / 2);

    --background-black-1: #21303a;
    --background-black-2: #2f303A;

    --gray-1: #f5f4fa;
    --gray-2: #afb1b8;
    --black-1: #000000;

    --background-black-240Perc: hsla(235, 10%, 21%, 0.4);
    --primary-white-60Perc: hsla(0, 0%, 100%, 0.6);
    --primary-white-10Perc: hsla(0, 0%, 100%, 0.1);
}
* {
    margin: 0px;
    padding: 0xpx;
    box-sizing: border-box;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

section {
    padding: 94px 0;
}

a {
    text-decoration: none;
}

/* Seccion de beneficios del index */
.benefits .container .benefits-list {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.benefits .container .benefits-list li div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-1);
    border-radius: 15px;
    height: 120px;
    margin-bottom: 15px;
    width: 270px;
}

.benefits .container .benefits-list li div .icon-benefit {
    width: 70px;
    height: 70px;
}

.benefits .container .benefits-list li {
    list-style: none;
    width: 270px;
}

.benefits .container .benefits-list li .title {
    height: 50px;
    text-transform: uppercase;
    color: var(--primary-black-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}

.benefits .container .benefits-list li .description {
    line-height: 24px;
}

/* Sección a que nos dedicamos  */
.what-we-do-section .container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
}

.what-we-do-section .container ul li {
    list-style: none;
    width: 500px;
}

.what-we-do-section .container ul {
  position: relative;
  }

.what-we-do-section .container ul li > .label{
  font-weight: 700;
  width: 323px;
  position: absolute;
  top: 170;
  right: 2;
  bottom:0;
  padding: 20px 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.section {
    padding: 94px 0;
}

.section > h2 {
    color: var(--primary-black-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
    padding: 30px 0;
    text-align: center;
}


.list {
    list-style: none;
}

.button-primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    text-transform: capitalize;

    border: none;
    outline: none;
    padding: 10px 20px;
}

.button-primary:hover {
    background-color: var(--accent-color-hover);
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 32px; */
}

/* Seccion de nuestro equipo */
.team-section {
    background-color: var(--gray-1);
  }
  .team-section .container h3 {
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
  }
  .team-section .container .team-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    
  }
  .team-section .container .team-cards li {
    background-color: var(--primary-white-color);
    text-align: center;
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px
     rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     padding-bottom: 10px;
  }
  
  .team-section .container .team-cards li h3 {
    margin: 20px 0 10px 0;
  }
  .team-section .container .team-cards li p {
    margin-bottom: 30px;
  }
  .team-section .container .team-cards li ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .team-section .container .team-cards li ul li {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 25px;
  }
  .team-section .container .team-cards li ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 25px;
    height: 35px;
    width: 35px;
  }
  .team-section .container .team-cards li ul li a .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-text-color);    
  }
  .team-section .container .team-cards li ul li:hover a {
    background-color: var(--accent-color);
  }
  .team-section .container .team-cards li ul li:hover a .icon {
    fill: var(--primary-white-color);
  }
  .team-section .container .team-cards li ul li a:focus {
    background-color: var(--accent-color);
  }
  .team-section .container .team-cards li ul li a:focus .icon {
    fill: var(--primary-white-color);
  }
/* Sección del encabezado */
header {
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

header .container nav .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}

/* pseudo-elemento after */
.page.current::after{
  content: "";
  width: 48px;
  height: 4px;
  background-image: url(../images/activable.jpg);
}

.page.current:hover::after{
  display: block;
}

header .container nav .nav-menu {
    display: flex;
    list-style: none;
    gap: 80px;
}

header .container nav .nav-menu .page {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;

    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
}

header .container .contacts-menu {
    display: flex;
    list-style: none;
    gap: 80px;
}

header .container .contacts-menu li .item {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;

    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;
    height: 20px;
}

header .container .contacts-menu li .item .icon.email {
    fill: var(--primary-text-color);
    width: 20px;
    height: 12px;
}

header .container .contacts-menu li .item .icon.smartphone {
    fill: var(--primary-text-color);
    width: 10px;
    height: 17px;
}

header .container nav .nav-menu .page:hover,
header .container nav .nav-menu .page:focus,
header .container nav .nav-menu .page.current,
header .container .contacts-menu li .item:hover,
header .container .contacts-menu li .item:focus,
header .container .contacts-menu li .item:hover .icon {
    color: var(--accent-color);
    fill: #03a9f4;
}

/* Sección del Hero */
.hero {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/img_hero.jpg");
    padding: 214px;
    text-align: center; 
    margin: auto; 
    max-width: 1600px;
}

.hero .hero-title {
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3em;
    text-transform: capitalize;   
    padding: 0 20%;
    margin-bottom: 40px;
}


/* Sección del portafolio  */
.portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;
}

.portfolio .menu li button {
    border: none;
    outline: none;
    color: var(--primary-black-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 10px 30px;

    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    
}

.portfolio .list li button:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}
.portfolio .list li button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
 }

 .card-container {
  margin-bottom: 20px;
  width: 370px;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}

.card-container:hover{
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.card-body{
  padding: 20px 24px;
  color: var(--primary-black-color);
}

.card-body h2 {
  padding: 15px;
}

.card-body p {
  font-size: 16px;
  padding: 15px;
}

.overlay {
  position: absolute;
  font-size: 18px;
  padding: 40px 30px;
  letter-spacing: 0.03em;
  line-height: 28px;
  top: 0;
  left: 0;
  width: 370px; 
  height: 290px;
  transform: translateY(200%);
  transition: transform 250ms ease; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: justify;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}

.card-image {
  margin-bottom: 20px;
  width: 370px;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
  overflow: hidden;
}

.card-container:hover .overlay{
  transform: translateY(0%);
}

/* Seccion de clientes regulares */
.customers .container h2{
    color: var(--primary-black-color);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
    }

.customers .container ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.customers .container ul li:hover {
  background-color: var(--accent-color);
}

.customers .container ul li a:focus {
  background-color: var(--accent-color);
}

.customers .container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px var(--gray-2);
  border-radius: 5px;
  cursor: pointer;
  height: 90px;
  width: 170px;
  
}

/* Sección del pie de página */
footer {
    padding: 94px var(--container-padding);
    background-color: var(--background-black-2);
  }
  footer .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    
  }
  footer .container {
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  footer .container address ul {
    list-style: none;
  }
  footer .container address .contact {
    display: block;
    color: var(--gray-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    padding: 5px 0;
  }
  footer .container address .contact:hover {
    color: var(--primary-white-color);
  }
  footer .container aside p {
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-left: 26%;
  }
  
  footer .container aside ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    margin-left: 10%;
  }
  
  footer .container aside ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: var(--primary-white-10Perc);
    border-radius: 25px;
    box-shadow: hsla(0, 0%, 0%, 0.479) 0 3px 5px;
    cursor: pointer;
    height: 44px;
    width: 44px;
  }
  
  footer .container aside ul li .icon {
    fill: var(--primary-white-color);
  }

  footer .container aside ul li:hover {
      background-color: var(--accent-color);
  }

  footer .container aside ul li a:focus {
    background-color: var(--accent-color);
  } 
  
  /* Formulario suscripción al boletín */
  .container_subscription{
    position: relative;
    padding-left: 300px;
  }

  .text_subscription {
    /* position: absolute; */
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
  }

  .footer_input{
    position:absolute;
    width: 270px;
    height: 50px;
    left: 75px;
    top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 10px;
    background: var(--background-black-2);
  }

  .btn_subscription_footer{
    position: absolute;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    width: 170px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px 20px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    right: 100px;
    left: 350px;
    text-align: justify;
  }

  .container_button_footer{
    position: relative;
  }

  .footer_svg_send{
    position: absolute;
    height: 18px;
    width: 18px;
    left: 467px;
    top: 17px;
    bottom: 10px;
    fill: var(--primary-white-color);

  }

  .btn_subscription_footer:hover, .btn_subscription_footer:focus{
    background-color: var(--accent-color-hover);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }


  /* Modal */

  .backdrop{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 2;
    transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    /* display: none; */
  }

  .modal  {
    display: block;
    position: relative;
    width: 500px;
    height: 600px;
    left: 50%;
    /* top: 221px;  */
    top: 3%;
    transform: translateX(-50%);
    z-index: 3;
   
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .btn-modal {
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 465px;
    top: 5px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .btn-modal:hover{
    color: var(--accent-color-hover);
  }

  /* Formulario del modal */
  .modal_input {
    display: block;
    outline: none;
    height: 40px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 40px;
  }

  .modal_input:hover + .modal_svg,
  .modal_input:focus + .modal_svg{
    fill: var(--accent-color-hover);    
  }

  .modal_input:hover, .modal_input:focus {
    border: 1px solid var(--accent-color-hover);
  }

  .container_modal{
    position: relative;
    padding: 10px 30px;
  }

  .modal_text{
    padding: 30px 0px;
    color: var(--primary-black-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .modal_label{
    text-align: left;
    padding-left: 32px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }

  .modal_svg{
    /* overflow: hidden; */
    position: absolute;
    height: 18px;
    width: 18px;
    left: 50px;
    top: 20px;
    bottom: 10px;
    fill: var(--primary-black-color);
  }

  .modal_svg_checked{
    overflow: hidden;
    position: absolute;
    height: 18px;
    width: 18px;
    left: 50px;
    top: 30px;
    bottom: 10px;
    fill: var(--primary-black-color);
  }
  .modal_svg_checked:hover{
    fill: var(--accent-color-hover);
  }

 .container_modal_comments{
  position: relative;
  padding: 25px 45px;
 }

 .btn_modal_submit {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px 20px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn_modal_submit:focus, .btn_modal_submit:hover  {
  background-color: var(--accent-color-hover);
}
